* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: "Roboto Condensed", sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.navbar{
    display: flex;
    font-size: 16px;
}

.logo img{
    width: 3.5rem;
    height: auto;
    margin-right: 3rem;
}

ul img{
    width: 1.5rem;
    height: auto;
    
}

ul li{
    display: flex;
    gap: 0.3rem;
}

.navigation-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.navigation-menu li a {
    text-decoration: none;
    color: black;
}

.login-register {
    margin-left: 3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.login{
    padding: 0.3rem;
}

.register{
    background: lightblue;
    border: 1px solid darkblue;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 0.3rem;
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid grey;
    padding-bottom: 3rem;
}

.hero-section img {
    width: 100%;
    height: auto;
    text-align: center;
}

.hero-section button {
    width: 15rem;
    height: 1.5rem;
    display: block;
    margin: auto;
    border-radius: 10px;
    background-color: lightblue;
    border: 1px solid darkblue;
    margin-top: 2rem;
}

.hero-section button:hover{
    animation: buttonHoverEffect 2s ease;
}

@keyframes buttonHoverEffect{
    50% {
        background-color: darkblue;
        border: 1px solid lightblue;
        color: white;
        width: 18rem;
        height: 2rem;
    }
    100% {
        background-color: lightblue;
        border: 1px solid darkblue;
        color: black;
        width: 15rem;
        height: 1.5rem;
    }
}

.clothing-category{
    display: flex;
    text-align: center;
    margin-top: 3rem;
    border-bottom: 1px solid grey;
    padding-bottom: 3rem;
}

.clothing-category img{
    width: 21rem;
    height: auto;
    padding: 0 3rem;
    transition: transform 2s ease;
}

.clothing-category img:hover{
    transform: scale(1.2);
}

.clothing-category .woman-type{
    border-right: 1px solid grey;
}

.clothing-category h2{
    margin-bottom: 1.5rem;
    border: 1px solid darkblue;
    padding: 0.5rem;
    transition: transform 2s ease;
}

.clothing-category h2:hover {
    animation: category-text-hover 2s ease;
}

.clothing-category img:hover{
    animation: imgtypes-hover;
}

@keyframes category-text-hover{
    50% {
        font-size: 2rem;
    }
    100% {
        font-size: 1.5rem;
    }
}

.famous-clothes{
    margin-top: 2.5rem;
    
}

.store-cart{
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid grey;
}

.store-cart img{
    max-width: auto;
    max-height: 22rem;
    min-width: auto;
    min-height: 22rem;
}

.store-cart button{
    margin: auto;
    display: block;
    margin-top: 0.5rem;
    border: 1px solid darkblue;
    background-color: lightblue;
    border-radius: 10px;
    width: 11rem;
    height: 1.5rem;
    transform: transition 2s ease;
}

.store-cart button:hover{
    animation: buttonHoverEffect 2s ease;
}

ruha2 p{
    margin-top: 26%;
}

footer{
    background: lightyellow;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

footer h2{
    margin: 0 0 1rem 2rem;
}

footer p{
    margin-left: 2rem;
    display: inline;
    margin-top: 0.5rem;
}

footer a {
    text-decoration: none;
    color: black;
}

footer img{
    width: 1.5rem;
    height: auto;
    margin-right: 0.5rem;
    display: inline;
    
}

.copyright {
    text-align: center;
    display: block;
    margin-top: 3rem;
}

.register-container{
    position: absolute;
    top: 40%;
    left: 40%;
    background: lightgoldenrodyellow;
    padding: 1rem;
    border-radius: 10px;
    border: 1.5px solid yellow;
    display: none;
}

.register-container h3{
    position: relative;
    bottom: 0.9rem;
    display: inline;
}

.register-container img{
    width: 1rem;
    height: auto;
    margin-left: 5.8rem;
    margin-bottom: 1rem;
}

.register-container button{
    margin: 1rem auto 0.5rem auto;
    display: block;
    border: 1px solid darkblue;
    background-color: lightblue;
    border-radius: 10px;
    padding: 0.5rem;
}

.register-container input {
    padding: 0.3rem;
}

.register-container p{
    color: red;
    margin: 1rem 0 0 1rem;
    display: none;
}

.login-container{
    position: absolute;
    top: 40%;
    left: 40%;
    background: lightgoldenrodyellow;
    padding: 1rem;
    border-radius: 10px;
    border: 1.5px solid yellow;
    display: none;
}

.login-container button{
    margin: 1rem auto 0 auto;
    display: block;
    border: 1px solid darkblue;
    background-color: lightblue;
    border-radius: 10px;
    padding: 0.5rem;
}

.login-container h3{
    position: relative;
    bottom: 0.9rem;
    display: inline;
}

.login-container img{
    width: 1rem;
    height: auto;
    margin-left: 5rem;
    margin-bottom: 1rem;
}

.login-container input{
    padding: 0.3rem;
}

@media (max-width: 768px){
    .wrapper{
        
    }
}